body {
  margin: 0;
  background: black;
  overflow: hidden;
  font-family: arcade;
  color: white;
}

#ui {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 20px;
  z-index: 10;
}

canvas {
  display: block;
  margin: auto;
  background: #111;
}
